h1{
  font-family: fantasy;
}

h2{
  border-bottom: 1px solid #707070;
  font-family: 'Cute Font', cursive;
}

a{
  text-align: justify;
}

#cabecalho{
  border-top: 2px solid #707070;
  border-bottom: 2px solid #707070;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 180px;
}

#fotoperfil{
  float: right;
  height: 100%;
}
